.dashboardx {
  &--layout {
  }

  &--wrap {
  }

  ::deep {

    .mud-layout {
      background-color: var(--very-light-pink);
      --mud-palette-drawer-background: var(--very-light-pink);

      aside.mud-drawer {
        animation: none !important;
        white-space: nowrap;

        &-initial {
          animation: none;
        }

        &--open {
          // width: 320px;
          &.mud-drawer-pos-left {
            left: 0;
          }
        }

        &--closed {
          width: 50px;

          &.mud-drawer-pos-left {
            left: 0;
          }
        }
      }

      .mud-appbar {
        transition: all 225ms cubic-bezier(0, 0, .2, 1) 0ms;
        --mud-palette-appbar-background: var(--very-light-pink);
      }


      .mud {
        &-custom {
          &-container {
            width: 100%;
            display: block;
            box-sizing: border-box;
            margin-left: auto;
            margin-right: auto;
            height: 100%;
            padding: 24px 41px 282px 24px;
            border-top-left-radius: 8px;
            box-shadow: -2px 2px 1px 0 rgba(0, 0, 0, 0.03);
            background-color: #fff;
          }
        }

        &-main {
          &-content {
            // overflow-x: hidden;
            display: flex;
            min-height: 100%;
            flex-direction: column;
            height: 100vh;
          }
        }
      }


      &[class*=open] {
        .mud-appbar {
          left: 0;
        }
      }

      &[class*=close] {
        .mud-appbar {
          left: 70px;
        }

        .mud-main-content {
          margin-left: 70px;
        }
      }
    }
  }
}


$closed-size: 56px;

.dashboard {
  &--layout {
  }

  &--wrap {
  }

  ::deep {

    .mud {
      &-appbar {
        transition: all 225ms cubic-bezier(0, 0, .2, 1) 0ms;
        --mud-palette-appbar-background: var(--very-light-pink);
      }

      &-custom {
        &-container {
          width: 100%;
          display: block;
          box-sizing: border-box;
          margin-left: auto;
          margin-right: auto;
          height: 100%;
          padding: 24px 41px 282px 24px;
          border-top-left-radius: 8px;
          box-shadow: -2px 2px 1px 0 rgba(0, 0, 0, 0.03);
          background-color: #fff;
        }
      }

      &-main {
        &-content {
          // overflow-x: hidden;
          display: flex;
          //min-height: 100%;
          flex-direction: column;
          //height: 100vh;
          min-height: 100vh;
        }
      }

      &-layout {
        background-color: var(--very-light-pink);
        --mud-appbar-height: 80px;

        .main-drawer {
          --mud-palette-drawer-background: transparent;

          
          &.mud {
            &-drawer {
              animation: none;
              left: 0;
              white-space: nowrap;
              //overflow: hidden;
              transition: width .125s ease;

              &-initial {
                animation: none;
              }

              &--open {
                // width: 320px;
                &.mud-drawer-pos-left {
                  left: 0;
                }
              }

              &--closed {
                width: $closed-size;

                &.mud-drawer-pos-left {
                  left: 0;
                }
              }
            }
          }

          .mud {
            &-drawer {
              &-header {
                display: flex;
                align-items: center;
                justify-content: flex-start;
                padding: 5px 15px;
              }
            }
          }
        }


        &[class*=open] {
          .mud-appbar {
            left: 0;
          }
        }

        &[class*=close] {
          .mud-appbar {
            left: $closed-size;
          }

          .mud-main-content {
            margin-left: $closed-size;
          }
        }
      }
    }
  }
}
