@page "/recover"
@using MudBlazor
@using app.Utils


<div class="register-page register-page--wrap">
  <div class="form-area">
    <BoxElement>
      <div class="title-area">
        <div class="title">
          <p>Recover password</p>
        </div>
      </div>


      <FormBox>
        <MudFormEl Context="ctx">

          <FormField>
            <Label>
              <span>Email / Username</span>
            </Label>
            <MudTextFieldEl>
              <MudTextField T="string" @bind-PlaceHolder="Email" @bind-Value="Email" Variant="Variant.Outlined"
                Required="true" RequiredError="Email name is required!" />
            </MudTextFieldEl>
          </FormField>


          <div class="btn-area divide-25">
            <Button Variant="custom" Type="bordered">
              <MudButtonEl>
                <MudButton DisableElevation="true" @onclick="() => OnValidate(ctx)" FullWidth="true"
                  Variant="Variant.Filled" Color="Color.Primary">
                  Send Code
                </MudButton>
              </MudButtonEl>
            </Button>
          </div>
        </MudFormEl>
      </FormBox>

      <div class="switch-text flx _ac _jc divide-50">
        <p> <NavLink href="login"> Back to Log in</NavLink>
        </p>
      </div>

    </BoxElement>
  </div>

</div>

@code {

  public string Email { get; set; }

  async Task OnValidate(MudForm e)
  {
    Console.WriteLine("Validate");
    await e.Validate();

    if (e.IsValid)
    {
      Console.WriteLine("Valid");
    }
  }
}