.label {
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-bottom: 7px;
}

.form-field--wrap {
  --mud-default-borderradius: 8px;


  label, .label {
    display: initial;
  }

  ::deep {
    .mud-input {
      > * {
        &:not(.mud-input-outlined-border) {
          z-index: 1;
        }
      }
    }

    input {
      z-index: 2;
      font-family: Poppins;
      font-size: 14px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      color: var(--black);
    }

    .mud-input-outlined-border {
      border-color: transparent;
      background-color: var(--w-light);
      z-index: 0;
    }

    .mud-select {

      div:not(.mud-input-outlined-border) {
        z-index: 1;
      }

      .mud-input-outlined-border {
      }
    }
  }

  ::deep {
    .mud-input {
      height: 48px;

      &:hover {
        .mud-input-outlined-border {
          --mud-palette-action-default: var(--very-light-pink);
          border-color: var(--very-light-pink);
        }
      }
    }
  }
}